---

---

<header class="py-2 px-1 mx-auto max-w-2xl lg:py-6 lg:px-6">
    <nav class="w-full flex flex-col gap-2 items-center py-2 text-white bg-gradient-to-r from-blue-100 via-blue-300 to-cyan-300 rounded-xl">
        <h1 class="text-4xl text-center font-bold text-[#0000009c] hover:text-purple-500">{"<Bienvenido a mi portafolio />"}</h1>
        <div class="flex gap-2 text-center">
            <a class="rounded min-w-[90px] p-1 text-[#0000009c] border border-[#0000009c] hover:text-white hover:bg-gradient-to-r hover:from-blue-500 hover:to-cyan-500 bg-[length:200%_100%] bg-left-bottom transition-all duration-500" href="">PROYECTOS</a>
            <a class="rounded min-w-[90px] p-1 text-[#0000009c] border border-[#0000009c] hover:text-white hover:bg-gradient-to-r hover:from-blue-500 hover:to-cyan-500 bg-[length:200%_100%] bg-left-bottom transition-all duration-500" href="">SKILLS</a>
            <a class="rounded min-w-[90px] p-1 text-[#0000009c] border border-[#0000009c] hover:text-white hover:bg-gradient-to-r hover:from-blue-500 hover:to-cyan-500 bg-[length:200%_100%] bg-left-bottom transition-all duration-500" href="">CV</a>
        </div>
    </nav>
</header>
