---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jonnier Salaverria">
	<div class="text-center flex justify-center items-center w-full">
		<div class="bg-gradient-to-r from-blue-100 via-blue-300 to-cyan-300 rounded-2xl py-16 px-6 max-w-2xl">
			<h1 class="text-6xl  text-purple-800">Jonnier Salaverria</h1>
			<h2 class="text-yellow-800">Desarrollador web / Frontend - Backend</h2>
			<section class="mt-4">
				<h3 class="font-bold text-lg text-left text-purple-700">Sobre mi:</h3>
				<p class="font-semibold text-black">Hola, soy Jonnier Salaverria un <b  class="text-yellow-800">desarrollador web</b> 
					con experiencia en analisis de <b class="text-yellow-800">datos Geoespaciales</b>. Me caracterizó por ser una persona responsable. Por lo que siempre estoy en constante investigación y aprendizaje.
				Gracias a mi amplia experiencia como Team leader en equipos de ventas, pude fortalecer mis habilidades blandas y lograr asi mejor comunicacion con el equipo de trabajo.</p>
			</section>
		</div>
	</div>
</Layout>
